# Secara default, jangan lacak isi folder Praktikum.
/*

# Simpan aturan ini agar kebijakan allowlist ikut masuk repository.
!/.gitignore

# Berkas dan folder yang boleh dipublikasikan.
!/requirements.txt
!/notebooks/
!/data/
!/templates/
